<nz-layout class="login-layout">
  <nz-content class="login-container">
    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col [nzLg]="10" [nzMd]="18" [nzSm]="24">
        <h2>Welcome to CarOnSale</h2>
      </div>
    </div>

    <nz-alert *ngIf="!!error" nzType="error" [nzMessage]="error"></nz-alert>

    <div nz-row nzType="flex" nzJustify="center" nzAlign="middle">
      <div nz-col [nzLg]="10" [nzMd]="18" [nzSm]="24">
        <form
          [formGroup]="loginForm"
          class="login-form"
          (ngSubmit)="submitForm()"
        >
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your username!">
              <input
                class="username"
                type="text"
                nz-input
                formControlName="username"
                placeholder="Username"
              />
            </nz-form-control>
          </nz-form-item>
          <nz-form-item>
            <nz-form-control nzErrorTip="Please input your Password!">
              <input
                type="password"
                nz-input
                formControlName="password"
                placeholder="Password"
              />
            </nz-form-control>
          </nz-form-item>
          <button
            nz-button
            [nzLoading]="submitting"
            class="login-form-button login-form-margin"
            [nzType]="'primary'"
          >
            Log in
          </button>
        </form>
      </div>
    </div>
  </nz-content>
</nz-layout>
